.modal__content {
    position: relative;
    width: 300px;
    padding: 50px 80px;
    margin: 50px auto;
    background: url("../img/pattern.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal__content--close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background: red;
    background-image: url("../img/cross.png");
    background-size: 20px 20px;
    background-position: 1px 1px;
    background-repeat: no-repeat;
}
.modal__content--close:hover{
    transform: rotate(45deg);
}


.content__title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
    color: black;
}

.content__p {
    margin: 0;
    margin-bottom: 14px;
}

.modal__login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.modal__login-form input[type="text"],
.modal__login-form input[type="password"] {
    width: 241px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: inherit;
    border: 2px solid #000000;
}

.modal__login-form input:focus {
    border-color: #663d15;
}

.modal__icon-user {
    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-position: 96% 13px;
    background-size: 20px 20px;
}

.modal__icon-password {
    background-image: url("../img/password.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 96% 13px;
}

.forgot__pass {
    margin-left: 42px;
    color: #000000;
}

.modal__btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 2px black solid;
    background-color: inherit;
    cursor: pointer;
}

.modal__login-checkbox input[type="checkbox"] {
    display: none;
}

.modal__login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.modal__login-checkbox:hover {
    color: #663d15;
}

.modal__login-checkbox input[type="checkbox"] + .login__remember {
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.modal__login-checkbox input[type="checkbox"]:checked + .login__remember::before,
.modal__login-checkbox input[type="checkbox"]:checked + .login__remember::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000000;
}

.modal__login-checkbox input[type="checkbox"]:checked + .login__remember::before {
    transform: rotate(45deg);
}

.modal__login-checkbox input[type="checkbox"]:checked + .login__remember::after {
    transform: rotate(-45deg);
}